/* src/App.css */
body {
  background-color: #f8e8e8;
  color: #333;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.main-content {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #d08c8c; /* Middle part background color */
  margin-top: 0;
}

.header-top {
  background-color: #7b3f3f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0;
}

.footer {
  background-color: #7b3f3f;
  padding: 1rem;
  color: white;
  text-align: center;
}
