/* src/App.css */
body {
  background-color: #F8E8E8;
  color: #333;
  font-family: 'Roboto', sans-serif;
}

.main-content {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #D08C8C; /* Middle part background color */
  margin-top: 0;
}

.header-top {
  background-color: #7B3F3F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0;
}

.footer {
  background-color: #7B3F3F;
  padding: 1rem;
  color: white;
  text-align: center;
}
